{% extends 'base.html' %} {% block head %}
<title>Home Auraauro</title>
{% endblock %} {% block body %}
<br>
<h1>STEAMLAND AURAAURO </h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Auraauro</h1>
            <p>Welcome to the STEAM LAND AURAAURO DESIGN! </p>
            <p> Teachers notes <a href="http://stemland.pythonanywhere.com/">stemland.pythonanywhere.com</a> to update Teachers notes.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Weekly Update for Auraauro &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}